.app {
	&, * {
		display: flex;
	}
	& {
		flex-direction: column;
		position: absolute;
		flex: 1;
		left: 0;
		right: 0;
		top: 0;
		bottom: 0;
	}
	.clickable {
		cursor: pointer;
		box-shadow: 4px 4px 2px rgba(40,40,40,1.0);
		background-color: rgba(100,100,100,1.0);
		&:hover {
			background-color: rgba(100,100,100,1.0);
			box-shadow: 3px 3px 1px rgba(40,40,40,1.0);
		}
		-webkit-transition: background-color 0.3s; /* Safari */
    transition: background-color 0.3s;
	}
	.link__media, .link {
		position: relative;

		&:after {
			content: 'copied';
			position: absolute;
			right: 0px;
			left: 0px;
			margin: auto;
			top: -30px;
			left: 10px;
			opacity: 0;
			padding: 5px;
			background: rgba(170,170,170,1.0);
			color: rgba(40,40,40,1.0);
		}
		&.copied:after {
			animation: fadeIn 1s;
		}
		&.copied_again:after {
			animation: otherFade 1s;
		}
		text-decoration: none;
		color: rgba(40,40,40,1.0);
		&:hover {
			color: rgba(20,20,20,1.0);
		}

	  user-select: none;
	  letter-spacing: 0.3px;
	  font-family: 'Arial';
	  line-height: 1.2em;
	}
}
