.piece__container {
	height: 100%; //mobile
	width: 100%; //mobile
}

.piece__meta {
	padding: 50px 10px;
	// width: 200px;
	&, * {
		flex-direction: column;
	}
}

.piece__content {
	// height: 90%; //mobile
}

.piece__controls {
	// height: 10%; //mobile
	justify-content: center;
}

.piece__left {
	height: 100%;
	width: 100%;
	justify-content: center;
	align-items: center;
	min-width: 430px;
	// width: 90%; //mobile?
}

.piece__right {
	// width: 10%; //mobile?
}

.piece__left, .piece__right {
	flex-direction: column;
}

.piece__wrapper {
	width: 100%; //mobile
	flex-direction: row;
	justify-content: center;
  align-items: center;
	// width: 435px;
	// height: 720px;
}

.piece__collection--wrapper {
	padding: 8px 11px;
	user-select: none;
	width: 0px;
	overflow: hidden;
	-webkit-transition: width 0.3s; /* Safari */
  transition: width 0.3s;
	&.active {
		width: 210px;
	}
}
.piece__collection {
	padding-left: 11px;
	width: 199px;
	.article__title {
		font-family: 'clemente';
		font-weight: 500;
		letter-spacing: 1px;
		font-size: 1.5rem;
		margin-bottom: 5px;
	}
	.article__body {
		font-weight: light;
		font-size: 0.9rem;
    letter-spacing: 0.3px;
		font-family: 'Arial';
		line-height: 1.2em;
		padding-bottom: 10px;
		padding-right: 10px;
	}
}
