@font-face {
  font-family: 'arual';
  src: url('./regular/arual.eot');
  src: url('./regular/arual.woff2') format('woff2'),
       url('./regular/arual.eot?#iefix') format('embedded-opentype'),
       url('./regular/arual.woff') format('woff'),
       url('./regular/arual.ttf') format('truetype'),
       url('./regular/arual.svg#Arual') format('svg');       
  font-weight: normal;
  font-style: normal;
}

